<!-- <table class="table table-hover">
	<thead>
	  <tr>
		  	<th>#</th>
		  	<th>FirstName</th>
		  	<th>LastName</th>
		  	<th>Phone</th>
		  	<th>Email</th>
		  	<th>Address</th>
		  	<th>City</th>
		  	<th>State</th>
	  </tr>	
	</thead>
	<tbody>
	  	<tr ng-repeat="customer in customers">
		  	<th>{{customer.id}}</th>
		  	<th>{{customer.first_name}}</th>
		  	<th>{{customer.last_name}}</th>
		  	<th>{{customer.phone}}</th>
		  	<th>{{customer.email}}</th>
		  	<th>{{customer.address}}</th>
		  	<th>{{customer.city}}</th>
		  	<th>{{customer.state}}</th>
	  	</tr>
	</tbody>
</table>
<div class="container-fluid">
<div class="row">
	<div class="col-md-3">
		<h3>Add Customers Here</h3>
		<p>First Name: <input type="text" name="firstName" ng-model="firstName" required /></p>
		<p>Last Name: <input type="text" name="lastName" ng-model="lastName" required /></p>
		<p>Phone: <input type="text" name="phone" ng-model="phone" required /></p>
		<p>Email: <input type="text" name="email" ng-model="email" required /></p>
		<p>Address: <input type="text" name="address" ng-model="address" required /></p>
		<p>City: <input type="text" name="city" ng-model="city" required /></p>
		<p>State: <input type="text" name="state" ng-model="state" required /></p>
		<hr />
		<button type="button" class="btn btn-success" ng-click="addCustomer()">Add Customer</button>
		<hr />
	</div>
	<div class="col-md-3">
		<h3>Update Customers Here</h3>
		<p>Id: <input type="number" name="id" ng-model="id" min="1" required /></p>
		<p>First Name: <input type="text" name="firstName" ng-model="firstName" required /></p>
		<p>Last Name: <input type="text" name="lastName" ng-model="lastName" required /></p>
		<p>Phone: <input type="text" name="phone" ng-model="phone" required /></p>
		<p>Email: <input type="text" name="email" ng-model="email" required /></p>
		<p>Address: <input type="text" name="address" ng-model="address" required /></p>
		<p>City: <input type="text" name="city" ng-model="city" required /></p>
		<p>State: <input type="text" name="state" ng-model="state" required /></p>
		<hr />
		<button type="button" class="btn btn-success" ng-click="updateCustomer()">Update Customer</button>
		<hr />
	</div>
		<div class="col-md-3">
		<h3>Delete Customers Here</h3>
		<hr />
		<p>Id: <input type="number" name="id" ng-model="id" min="1" required /></p>
		<button type="button" class="btn btn-success" ng-click="delete()">Delete Customer</button>
		<hr />
	</div>
</div>
</div> -->
<h1>DemoData</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<ul ng-repeat ="user in users">
				<li> {{user.userEmail}}</li>
				<li> {{user.userPassword}}</li>				
			</ul>
		</div>
	</div>
</div>
